* {
    margin: 0;
    box-sizing: border-box;
}

header {
    position: fixed;
    bottom: 0;
    height: 100px;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
}

nav {
    height: 100%;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: end;
    gap: 20px;
    margin: 0 40px;
}

a {
    padding: 20px;
    font-size: 32px;
    color: white;
    text-decoration: none;
    font-family: sans-serif;
}

a:hover {
    color: gold;
}

main {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    height: 100vh;
    overflow: auto;
}

section {
    height: 100vh;
    padding-top: 100px;
    scroll-snap-align: center;
    background-size: cover;
    background-position: bottom left;
}

#orange {
    background-image: url("");
    background-position: top left;
    background-color: orange;
}

#pink {
    background-image: url("");
}

#green {
    background-color: green;
}